<footer class="piedepag">

    <ul class="piedepag-lista">

        <li class="piedepag-lista-item">
            <a class="piedepag-lista-item-a" href="" title="facebook">
                <i class="fa-brands fa-facebook-square"></i>
            </a>
        </li>
        <li class="piedepag-lista-item">
            <a class="piedepag-lista-item-a" href="" title="instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </li>
        <li class="piedepag-lista-item">
            <a class="piedepag-lista-item-a" href="" title="youtube">
                <i class="fa-brands fa-youtube"></i> 
            </a>
        </li>
        <li class="piedepag-lista-item">
            <a class="piedepag-lista-item-a" href="" title="twitter">
                <i class="fa-brands fa-twitter-square"></i>  
            </a>
        </li>

    </ul>

</footer>
