
        <app-nav></app-nav>
        <router-outlet></router-outlet>   
        <app-footer></app-footer>

        <div class="page_denuncia" *ngIf="">
                <form class="page_denuncia-form" name="denunciaForm" netlify netlify-honeypot="bot-field">
            
                    <label class="denuncia-form_campos"> 
                        Nombre:
                        <input type="text" name="nombre"> 
                    </label>
            
                    <br><br>
            
                    <label class="denuncia-form_campos">
                            Apellido:                
                            <input type="text" name="apellido">                   
                    </label>
                    <br><br>
                    <label>
                       Edad:
                        <input type="text" name="edad">
                    </label>
                    <br><br>
                    <label class="denuncia-form_campos">    
                        E-mail:                                    
                        <input type="Email" name="email" required>
                    </label>
                    <br><br>
                    <label for="denuncia-form_expo">
                    Denuncia:
                    <br>
                    <textarea name="exposicion"> Escribinos tu denuncia..</textarea>
                    </label>
                    <br>
                    <input type="submit" value="Denunciá!" class="denuncia_enviar">
            
                </form>
            
                <div class="denunciapoli">
                        <img src="assets\denuncia/policia ax.png" alt="">
            
                </div>
                
            </div>
 
    

<!-- De ahora en más, todo lo que esté en este componente lo van a compartir todas las páginas -->



<!-- Acá se va a mostrar en contenido de cada página -->


<!-- <app-card></app-card> -->

<!-- <img src="assets/viajes/londres.jpg" alt=""> -->
