<body>
    
    <main class="contenido">

        <div class="cuadro-texto-explicativo" title="texto explicativo de por qué hay que denunciar">
            
            <h2 class="denuncia">Denuncia!</h2>
        
                
            <p class="denuncia-p">Como hombres sabemos que es muy normal sufrir discriminaciones
                constantemente a nivel social, ya que el mismo estado o sea el poder hegemonico
                adopta publicamente el marco teorico feminista, motivo por el cual el varón,
                que ya en sí es un ciudadano de segunda categoria, resulta ampliamente damnificado,
                    ya que en dicho marco teorico se considera a la mitad de la población mundial como 
                    "opresores" y a las mujeres, victimas, no podemos tolerar ni permitir esto ya que 
                    seas hombre o mujer, todos tenemos padres, hermanos, amigos o hijos, ninguna discriminacion
                    debe ser tolerada, por todo esto, este es nuestro espacio, es increible que en pleno año 2022
                    el estado nos criminalice constantemente mediante la ley y los medios hegemonicos, si bien a
                    nivel social, cultural y estatal no tenemos voz, al menos el internet nos brinda la posibilidad
                        de poder expresarnos y denunciar todas las injusticias que resultan invisibilizadas diariamente.
            </p>

        </div>
      

        <app-formulario></app-formulario>
                
    </main>

</body>


