body{

    background-color: var(--violeta);
    padding: 1rem 0;


}

.denuncia{

    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

.denuncia-p{

    
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
    margin: 2rem;
    text-align: justify;

}


