.card-contenedor {
    margin-top: 3rem; 
    max-width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
}


@media (max-width: 1200px) {

    .card-contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 878px) {

    .card-contenedor{
        grid-template-columns: repeat(1, 1fr);
    }
}

