<div class="denuncia">
    <form class="denuncia-form" method="post">

        <label class="denuncia-form_campos" > 
            Nombre:
            <input type="text" name="nombre">
        </label>

        <br><br>

        <label class="denuncia-form_campos">
                Apellido:                
                <input type="text" name="apellido">                   
        </label>
        <br><br>
        <label>
           Edad:
            <input type="text" name="edad">
        </label>
        <br><br>
        <label class="denuncia-form_campos">    
            E-mail:                                    
            <input type="Email" name="email"required>
        </label>
        <br><br>
        <label for="denuncia-form_expo">
        Denuncia:
        <br>
        <textarea name="exposicion"> Escribinos tu denuncia..</textarea>
        </label>
        <br>
        <input type="submit" value="Denunciá!" class="denuncia_enviar">

    </form>

    <div class="denunciapoli">
            <img src="assets\denuncia/policia ax.png" alt="">

    </div>
    
</div>
