<form name="contacto"  class="denuncia"   netlify netlify-honeypot="bot-field" hidden>

       

        <label class="denuncia-form_campos"> 
            Edad:
            <input type="text" name="nombre">               
        </label>
        <br><br>
        <label class="denuncia-form_campos"> 
                Apellidos:
                <input type="text" name="apellido">                   
        </label>       
        <br><br>
        <label class="denuncia-form_campos"> 
                E-mail:                           
            <input type="Email" name="email" required>
        </label>
        <br><br>

        <label for="exposicion">
            Escribinos tu denuncia:
        <textarea name="exposicion" cols="40" rows="10" class="denuncia-form_campos" title="escribinos tu denuncia"></textarea>
        </label>
        <br>

        <input type="submit" value="Enviar" class="denuncia_enviar">

</form>


