.denuncia{

    background-color: var(--celesteclaro);
    max-width: 50rem;
    max-height: 60rem;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 1rem;
    box-shadow: 6px 6px 30px;
    display: flex;
 
    &_enviar{
        margin-left: 19rem;
        padding: 2px 12px;
        
    }

    &enviado {
        color: red;
    }

   
}

.formuNombre {

padding: 1px;

}

.denunciapoli {

padding-right: 100px;
padding-top: 100px;
& img{ 

    animation-name: culo;
    animation-duration: 1s;
    animation-fill-mode: both;
    
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));

}

}

@keyframes culo{ 

0% { 

    transform:scale(1)

}
100%{

    transform:scale(1.4)
}

}