<body class="body-contactos">

<main class="contactos-contenido">

    <h2>CONTACTOS</h2>

   <div class="cuadro-contactos">

        <img class="cuadro-contactos-img" src="assets/contactos/banner-contactos.jpg" alt="Una mano tocando iconos de contactos">
        
        <h3>
            Si necesitas ayuda, ya sea psicologica, economica, judicial, o por cualquier consulta,
            no dudes en contactarnos a alguno de los siguientes sitios:
        </h3>
        <p>
            <i class="fa-solid fa-at"></i>
            E-mail: ayudaparahombres@gmail.com
        </p>
        <p>
            <i class="fa-brands fa-facebook-square"></i>
            Facebook: Lucha Hombre!
        </p>
        <p>
                <i class="fa-brands fa-instagram"></i>
                Instagram: Lucha Hombre!
        </p>
        <p>
                <i class="fa-solid fa-phone"></i>
                Telefono o Whatsapp: 011-53183415
        </p>                

    </div>      

</main>
</body>