.encabezado {
    background-color: var(--grisclaro);    
    max-width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 2;
    

    &-logo{
        display: flex;
        justify-content: space-between;

        &-a{
            color: black;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
    
            & img{
                max-width: 4rem ;
            }
        }

        &-boton {
                padding: 0 1rem ;
                font-weight: bold;
                margin: 10px 15px;
                border: none;
                font-size: 10px;
                background-color: var(--celeste);
                border-radius: 30%;
                display: none;
                
                
                    &:hover{
                        color: white;
                        text-decoration:underline;
                
                    }

            }

    
    }

    
    
}


.botonera-list{
    display:flex;
    justify-content: center;
   flex-wrap:wrap;


    &-item{
        list-style: none;


        &-a{
            display: block;
            color: black;
            margin-left: 1rem;
            margin-right: 1rem;
            text-decoration: none;
            font-weight: bold;
            padding: 1rem;
            flex-grow: 1;

            &:hover{
                background-color: var(--azulpetro);
                color: white;
            }
                
        }
    }


}



.ocultarmenu{
    display: none;
}
 
@media (max-width: 1287px) {

        .encabezado{
        font-size:small;
    }
    .botonera-list-item-a{
        background-color: aqua;
        padding: 8px;
        margin: 0;
    }
}

@media (max-width: 980px) {
    .encabezado-logo-a{
        font-size:12px;
    }

    .botonera-list-item-a{
        font-size: 14px;
    }
}

@media (max-width: 888px) {

    .encabezado-logo-a{
        font-size:x-small;
    }
    .botonera-list-item-a{
        font-size: small;
    }

}

@media (max-width: 650px) {

    .encabezado{
        display: inline;


        &-logo{
            max-width: 24rem;
            margin: 0 auto;

            &-boton{
                display: block;
            }
        }
    }
    .botonera-list{
        display: inline;
       
    }

   

}

/* /* 885 | 650* |360/412/375 */









