<header class="encabezado">
    <div class="encabezado-logo">
        
        
        <a class="encabezado-logo-a" href="">
        <img src="assets/logo.png" alt="hombre animado">        
        <h1>Movimiento por la Igualdad</h1>
        </a>
    </div>

    <button type="menu" class="hamburguesa" (click)="mostrarmenu()">
       Menu
    </button>

    <nav class="nav-botonera" ngClass="{'mostrarmenu':true}">

         <ul class="botonera-list">

            <li class="botonera-list-item">
                 <a href="/noticias" class="botonera-list-item-a">
                    <i class="fa-regular fa-newspaper"></i>
                    NOTICIAS 
                </a>
            </li>

            <li class="botonera-list-item">
                <a href="#" class="botonera-list-item-a">
                     <i class="fa-solid fa-book-open"></i>
                    ARTICULOS 
                </a>
            </li>

            <li class="botonera-list-item">
                <a href="/porque-luchamos" class="botonera-list-item-a">
                    <i class="fa-solid fa-hand-back-fist"></i>
                    POR QUÉ LUCHAMOS? 
                 </a>
            </li>

            <li class="botonera-list-item">
                    
                <a href="/denuncia" class="botonera-list-item-a">    
                    <i class="fa-solid fa-circle-exclamation"></i>                        
                     DENUNCIA!
                 </a>
            </li>

            <li class="botonera-list-item">
                <a href="/contacto" class="botonera-list-item-a">
                    <i class="fa-regular fa-face-smile"></i>
                CONTACTO 
                </a>
             </li>

        </ul>
    </nav>
</header>