    <body>
            <main class="pqluchamos-contenido">
    
                <div class="pqluchamos-cuadrotext">
    
                    <h2> QUIENES SOMOS?</h2>
    
                    <div class="cuadrotext-nuestralucha">
    
                        <img src="assets/pqluchamos/pareja.jpg" alt="Pareja dandose la mano">
        
                        <p> 
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta placeat eos, repudiandae
                            assumenda accusantium, architecto nam alias exercitationem nostrum itaque ad adipisci atque
                            maxime dolorum doloremque nobis magnam, harum illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, culpa? 
                            Exercitationem illo dolor laborum eaque deleniti doloribus, aliquid inventore sed quidem excepturi, vero dolores quibusdam
                            est vitae esse, sit quas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rerum quam, vero nulla quidem qui 
                            veritatis blanditiis dolore illum voluptas neque reprehenderit possimus? Ad nesciunt alias et! Quibusdam, dolor quidem.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora hic non nihil nisi amet eligendi reiciendis iure eveniet in enim.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique earum sapiente quam obcaecati qui? Consequatur ipsam eius quae 
                            alias rerum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, sequi tenetur eaque obcaecati reiciendis vitae? Aspernatur 
                            tempora non exercitationem.
    
                           
                        </p> 
    
                    </div>
                    
                    <h2> EL POR QUE DE NUESTRA LUCHA</h2>
    
                    <div class="cuadrotext-nuestralucha">
    
                        <img src="assets/pqluchamos/hermandad.jpg" alt="muchas manos unidas">
        
                        <p> 
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta placeat eos, repudiandae
                            assumenda accusantium, architecto nam alias exercitationem nostrum itaque ad adipisci atque
                            maxime dolorum doloremque nobis magnam, harum illum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, culpa? 
                            Exercitationem illo dolor laborum eaque deleniti doloribus, aliquid inventore sed quidem excepturi, vero dolores quibusdam
                            est vitae esse, sit quas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad rerum quam, vero nulla quidem qui 
                            veritatis blanditiis dolore illum voluptas neque reprehenderit possimus? Ad nesciunt alias et! Quibusdam, dolor quidem.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora hic non nihil nisi amet eligendi reiciendis iure eveniet in enim.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique earum sapiente quam obcaecati qui? Consequatur ipsam eius quae 
                            alias rerum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum, sequi tenetur eaque obcaecati reiciendis vitae? Aspernatur 
                            tempora non exercitationem.
    
                           
                        </p> 
    
                    </div>     
    
    
                 </div>
    
            </main>
            
        </body>
