*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    
}

img{
    max-width: 100%;
}

:root {
    --azulfuerte:#274C77;
    --grisclaro:#E7ECEF;
    --azulpetro:#6096BA;
    --celeste:#A3CEF1;
    --grisoscuro:#8B8C89;
    --celesteclaro:rgb(207, 237, 237);
    --naranja:#e76f51;
    --violeta:#cdb4db;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

