<div class="dsc-carrucel" [ngStyle]="{'min-height': finalHeight}">
    <div class="dsc-carrucel__btns">
        <i class="fa-solid fa-circle-arrow-left" (click)="setBack()"></i>
        <i class="fa-solid fa-circle-arrow-right" (click)="setNext()"></i>
    </div>
    <div class="dsc-carrucel__content">
        <ng-container *ngFor="let section of items;">            
            <div class="dsc-carrucel__content-item" [ngStyle]="{'background-image':'url(' + section.image +')', 'margin-left': section.marginLeft + '%'}">
                <h2> {{section.title}}</h2>
                
                <p>{{section.subtitle}}</p>
            </div>
        </ng-container>
    </div>
    <div class="dsc-carrucel__steps">
        <div class="dsc-carruel__steps-step">

        </div>
    </div>




</div>

